/* */
body {
    background-color: white;
}

.navbar {
    background-color: rgb(163, 203, 220) !important; 
}

.allign-middle {
    margin-left: 10% !important;
    margin-right: 10% !important;
}

.btn-nav {
    color: black;
    background-color: rgb(110, 174, 201);
    border-color: rgb(110, 174, 201);
}