/* */
body {
    background-color: white;
}

.navbar {
    background-color: rgb(163, 203, 220) !important; 
}

.nav-center {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-right {
    margin-left: auto; 
    margin-right: 0;
}

.btn-nav {
    color: black !important;
    background-color: rgb(110, 174, 201) !important;
    border-color: rgb(110, 174, 201) !important;
}

.bg-lb {
    background-color:rgb(163, 203, 220);
}

.centered-container {
    position: relative;
    margin-top: 3%;
    width: 70% !important;
    /* Text */
    padding: 2em !important;
    
    display: flex;
    align-items:center;
}

.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    margin-left: 13%;
    margin-bottom: 3%;
    margin-top: 3%;

}  
